{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

        <div>
            Timed questions page.
            <p>
                A question will appear. Use the button below to start the timer
                (maybe an option for starting the timer the moment the question is shown?).
            </p>
        </div>

        <div>
            A text box here yup feeling lazy today will replace in a jiff
        </div>

        <div>
            Restart timer button.
        </div>
        <div>
            Button that says 'start' or suggests to press space.
        </div>
        <div>
            Mic option button.
        </div>
{% endblock %}